<h3>模板式表单</h3>

<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" >
<div ngModelGroup="uerInfo">
      <div>用户名：<input type="text" #username="ngModel" name="username" required pattern="[a-zA-Z0-9]+" ngModel  /></div>
  <div>手机号：<input type="number" name="phonenumber" ngModel /></div>
</div>
    <div ngModelGroup="passwordsGroup">
        <div>密码：<input type="password" ngModel name="password" /></div>
        <div>确认密码：<input type="password" ngModel name="pconfirm" /></div>
    </div>
  <button type="submit">提交</button>
</form>
<!-- <div>
    {{ myForm.value | json }}
</div>
<div>
    {{ username.value }}
</div>
 -->