<hr>
<h3>重构响应式表单</h3>
<form [formGroup]="formModel" (submit)="onSubmit()">
    <div class="form-group">
        <label><input type="text" name="username" class="form-control" placeholder="请输入用户名" formControlName="username"></label>
    </div>
    <div [hidden]="!formModel.hasError('required', 'username')">
        用户名是必填项
    </div>
    <div [hidden]="!formModel.hasError('minlength', 'username')">
        用户名不少于两个字符
    </div>
    <div class="form-group">
        <label><input type="number" name="mobile" class="form-control" placeholder="请输入手机号码" formControlName="mobile"></label>
    </div>
    <div [hidden]="!formModel.hasError('mobile', 'mobile')">
        请输入正确的手机号码
    </div>
    <div formGroupName="passwordsGroup">
        <div class="form-group">
            <label><input type="password" name="password" class="form-control" placeholder="请输入密码" formControlName="password"></label>
        </div>
        <!-- 嵌套的校验 -->
        <div [hidden]="!formModel.hasError('minlength', ['passwordsGroup','password'])">
            密码最小长度是6位
        </div>
        <div class="form-group">
            <label><input type="password" name="pconfirm" class="form-control" placeholder="请输入确认密码" formControlName="pconfirm"></label>
        </div>
    </div>
    <div [hidden]="!formModel.hasError('equal', 'passwordsGroup')">
        密码输入不一致
    </div>
    <div class="form-group">
        <button type="sumbit" class="btn btn-block btn-primary btn-lg">提交</button>
    </div>
</form>

<div>
    {{ formModel.status }}
</div>